<html>
    <head>
        <style>
            /* ids, then classes, then tags (alphabetical) */
            #autorefresh {
                width: 32px;
            }
            #tr {
                border: 1px solid #ccc;
                text-align: right;
                line-height: 150%;
                padding: 8px;
                color: #666;
                float: right;
            }
            .plotly {
                width: 100%;
                height: 200px;
            }
            a {
                text-decoration: none;
                color: #069;
            }
            body {
                padding: 8px 16px;
            }
            button:hover,a:hover {
                text-decoration: underline;
            }
            button, input[type="submit"]  {
                background: none!important;
                border: none;
                padding: 0 8px!important;
                font-family: arial, sans-serif;
                color: #069;
                cursor: pointer;
                font-size: 11px;
                text-align: right;
                display: inline;
            }
            form {
                display: inline-block; margin: 0;
                font-size: 10px;
            }
            input {
                border: 1px solid #ccc;
                height: 18px;
                width: 80px;
                vertical-align: middle;
                font-size: 10px;
            }
            h1 {
                margin-top: 0;
            }
            h2 {
                font-size: 18px;
            }
            h3 {
                font-size: 16px;
            }
            h4 {
                font-size: 14px;
            }
            html {
                font-family: arial, helvetica, sans-serif;
                font-size: 10px;
            }  
            iframe {
                width: 100%;
                height: 300px;
                border: 1px solid #ccc;
                margin: 8px 0;
            } 
            table {
                border-collapse: collapse;
                width: 100%;
                margin: 8px 0;
                padding: 16px;
            }
            td,th {
                text-align: right;
                border: 1px solid #999;
                margin: 0;
                padding: 2px 3px;
                white-space: nowrap;
                color: #000;
            }
            td {
                background: #b0d0ff;
            }
            th {
                background: #c0ffc0;                
            }
            tr {
                font-size: 11px;
                margin: 0;
                padding: 0;              
            }
</style>
        <!--<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>-->
        <script src="assets/plotly-latest.min.js"></script>
        <script src="assets/jquery-3.4.1.min.js"></script>
        <script>
            var interval = undefined;
            var timer = undefined;
            function ar_cookie() {
                var cookies = document.cookie.split(';');
                for(var i=0;i<cookies.length;i++) {
                    let kv = cookies[i].split('=');
                    if(kv[0].trim() == "autorefresh") {
                        var interval = parseInt(kv[1],10);
                        if(timer) { window.clearTimeout(timer); }
                        if(!interval || interval<3) { interval=0; }
                        if(interval>0) {
                            timer = window.setTimeout(function() {
                                window.location.href = window.location.href;
                            },interval*1000);
                        }
                        document.getElementById("autorefresh").value = interval;
                    }
                }
            }

            function ar_set_cookie() {
                document.cookie = "autorefresh="+parseInt(document.getElementById("autorefresh").value,10);
                ar_cookie();
                return false;
            }

            function zpad(i) { if (i < 10) { i = "0" + i; } return i; } 

            function plotly_time(d) {
                return (
                    zpad(d.getFullYear())+"-"+zpad(d.getMonth())+"-"+zpad(d.getDay())+" "+
                    zpad(d.getHours())+":"+zpad(d.getMinutes())+":"+zpad(d.getSeconds())
                );
            }

            var TRUNC = 1000*60*60;

            function reformat(data) {
                var now = +Date.now();
                var lines = data.split("\n");
                var headings = lines.shift().split("\t");
                var out = {};
                var time_col = 0;
                for(var i=0;i<headings.length;i++) {
                    out[headings[i]] = {
                        'x': [], 'y': [], 'type': 'scatter', name: headings[i],
                        'mode': 'lines+markers',
                        'yaxis': 'y2'
                    }
                    if(headings[i] == 'time') { time_col = i; }
                }
                for(var i=0;i<lines.length;i++) {
                    var line = lines[i].split("\t");
                    if(now - line[time_col] > TRUNC) { continue; }
                    for(var j=0;j<headings.length;j++) {
                        out[headings[j]].y.push(line[j]);
                    }
                }
                var bar = out["count"];
                if(bar) {
                  delete bar.yaxis;
                } else {
                  bar = {};
                }
                bar["type"] = "bar";
                bar["marker"] = { "color": "rgb(200,200,200)" };
                if(out.time) {
                    var times = out["time"].y;
                    for(var i=0;i<times.length;i++) {
                        let d = new Date(times[i]*1);
                        times[i] = plotly_time(d);
                    }
                    for(var i=0;i<headings.length;i++) {
                        out[headings[i]].x = times;
                    }
                    delete out.time;
                    delete out.instance;
                }
                return Object.values(out);
            }

            function reformat_raw(data) {
                var now = +Date.now();
                let x = [];
                let y = [];
                var data = data.split("\n");
                for(var i=0;i<data.length;i++) {
                    var line = data[i].split("\t");
                    if(now - line[0] > TRUNC) { continue; }
                    x.push(plotly_time(new Date(line[0])));
                    y.push(line[2]);
                }
                return [{
                    'x': x,
                    'y': y,
                    'type': 'scatter',
                    'mode': 'lines+markers',
                    'name': 'raw data'
                }]
            }

            var layout = {
                        height: 200,
                        margin: {
                            l: 100,
                            r: 150,
                            b: 30,
                            t: 20,
                            pad: 4
                        },
                        xaxis: {
                            tickformat: '%H:%M:%S'
                        },
                        yaxis2: {
                            rangemode: 'tozero',
                            side: 'left',
                            overlaying: 'y'
                        },
                        yaxis: {
                            showgrid: false,
                            rangemode: 'tozero',
                            side: 'right',
                        },
                        marker: { size: 12 },
            };

            $(function() {
                $('.plotly-dataset').each(function() {
                    var domel = this;
                    var stream = $(this).data('stream');
                    var dataset = $(this).data('dataset');
                    var url = "dataset?"+$.param({
                        'stream': $(this).data('stream'),
                        'dataset': $(this).data('dataset'),
                        'instance': $("#instance").attr('value')
                    });
                    $.get(url,function(data) {
                        var data = reformat(data);
                        Plotly.newPlot(domel,data,JSON.parse(JSON.stringify(layout)));
                    },"text");
                });
                $('.plotly-rawdata').each(function() {
                    var domel = this;
                    var stream = $(this).data('stream');
                    var dataset = $(this).data('dataset');
                    var url = "rawdata?"+$.param({
                        'stream': $(this).data('stream'),
                        'dataset': $(this).data('dataset'),
                        'instance': $("#instance").attr('value')
                    });
                    $.get(url,function(data) {
                        var data = reformat_raw(data);
                        Plotly.newPlot(domel,data,JSON.parse(JSON.stringify(layout)));
                    },"text");
                });
                $('.dataset-row').each(function() {
                    var domel = this;
                    var stream = $(this).data('stream');
                    var dataset = $(this).data('dataset');
                    var url = "dataset?"+$.param({
                        'stream': $(this).data('stream'),
                        'dataset': $(this).data('dataset'),
                        'instance': $("#instance").attr('value')
                    });
                    $.get(url,function(data) {
                        var last = "";
                        var data = data.split("\n");
                        var headings = data.shift().split("\t");
                        while(data.length && last == "") {
                            last = data.pop().trim();
                        }
                        if(last) {
                            last = last.split("\t");
                            var out = {};
                            for(var i=0;i<last.length;i++) {
                                out[headings[i]] = last[i];
                            }
                            $('.dataset-number',domel).each(function() {
                                var value = out[$(this).data('column')];
                                if(value) {
                                    $(this).text(value);
                                }
                            });
                        }
                    },"text");
                });
            });
        </script>
    </head>
    <body onload="ar_cookie()">
        <div id="tr">
            <form method="POST" onsubmit="ar_set_cookie(); return false">
                autorefresh (sec, 0=never) <input id="autorefresh"/>
                <input type="submit" name="update" value="update"/>
            </form>
            <br/>
            <form method="GET" action=".">
                instance (blank=all) <input id="instance" name="instance" value="{{ instance |e }}"/>
                <input type="submit" name="" value="update"/><br/>
            </form>
        </div>
        <h1>Blackbox</h1>
        <h2>Streams</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Filename</th>
                <th>Log lines</th>
                <th>Actions</th>
            </tr>
            {% for (stream,smodel) in config.streams.items() | sort %}
            <tr>
                <td>{{ stream }}</td>
                <td>{{ "enabled" if smodel.active else "disabled" }}</td>
                <td>{{ smodel.filename }}</td>
                <td>{{ smodel.lines }}</td>
                <td>
                    {% if smodel.active %}
                    <form method="POST" action="update-config-page">
                        <input type="hidden" name="disable" value="{{ stream |e }}"/>
                        <input type="hidden" name="instance" value="{{ instance |e }}"/>
                        <button>disable</button>
                    </form>
                    {% else %}
                    <form method="POST" action="update-config-page">
                        <input type="hidden" name="enable" value="{{ stream |e }}"/>
                        <input type="hidden" name="instance" value="{{ instance |e }}"/>
                        <button>enable</button>
                    </form>  
                    {% endif %}
                    <form method="POST" action="update-config-page">
                        <input type="hidden" name="truncate" value="{{ stream |e }}"/>
                        <input type="hidden" name="instance" value="{{ instance |e }}"/>
                        <button>truncate</button>
                    </form>  
                    <form method="POST" action="update-config-page">
                            <input type="hidden" name="delete" value="{{ stream |e }}"/>
                            <input type="hidden" name="instance" value="{{ instance |e }}"/>
                            <button>delete</button>
                        </form>      
                </td>
            <tr>
            {% endfor %}
        </table>
        <form method="POST" action="update-config-page">
            Add new section:
            <input name="enable"/>
            <input type="hidden" name="instance" value="{{ instance |e }}"/>
            <input type="submit" name="add" value="add"/>
        </form>
        {% for (stream,smodel) in config.streams.items() | sort %}
        {% if smodel.active %}
        <h2>{{ stream }}</h2>
        <a href="{{ smodel.tail_raw }}" target="_blank">open raw log file</a>
        <iframe src="{{ smodel.tail }}"></iframe>
        <form method="POST" action="mark">
            Add mark:
            <input type="hidden" name="stream" value="{{ stream |e }}"/>
            <input type="hidden" name="instance" value="{{ instance |e }}"/>
            <input name="mark"/>
            <button>mark</button>

        </form>
        <table>
            <tr>
                <th>Dataset</th>
                <th>Status</th>
                <th>Filename</th>
                <th>Count</th>
                <th>Total</th>
                <th>Mean</th>
                <th>95%ile</th>
                <th>Top</th>
                <th>Raw Data</th>
            </tr>
            {% for ((streamname,datasetname),dataset) in config.datasets.items() | sort %}
            {% if streamname == stream %}
            <tr class="dataset-row" data-stream="{{streamname |e}}" data-dataset="{{datasetname |e}}">
                <td>{{ datasetname }}</td>
                <td>
                    {% if dataset.enabled %}
                    full raw data
                    {% else %}
                    summary only
                    {% endif %}    
                </td>
                <td>
                    {{ dataset.filename }}
                </td>
                <td class="dataset-number" data-column="count">-</td>
                <td class="dataset-number" data-column="total">-</td>
                <td class="dataset-number" data-column="mean">-</td>
                <td class="dataset-number" data-column="95%ile">-</td>
                <td class="dataset-number" data-column="top">-</td>
                <td>
                    <a href="{{ dataset.summary_url |e }}" target="_blank">open summaries</a>
                    {% if dataset.enabled %}
                    <form method="POST" action="update-config-page">
                        <input type="hidden" name="stream" value="{{ streamname |e }}"/>
                        <input type="hidden" name="raw-disable" value="{{ datasetname |e }}"/>
                        <input type="hidden" name="instance" value="{{ instance |e }}"/>
                        <button>raw data off</button>
                    </form>
                    <a href="{{ dataset.rawdata_url |e }}" target="_blank">open raw data</a>
                    {% else %}
                    <form method="POST" action="update-config-page">
                        <input type="hidden" name="stream" value="{{ streamname |e }}"/>
                        <input type="hidden" name="raw-enable" value="{{ datasetname |e }}"/>
                        <input type="hidden" name="instance" value="{{ instance |e }}"/>
                        <button>raw data on</button>
                    </form>  
                    {% endif %}
                    <form method="POST" action="update-config-page">
                            <input type="hidden" name="stream" value="{{ streamname |e }}"/>
                            <input type="hidden" name="dataset-delete" value="{{ datasetname |e }}"/>
                            <input type="hidden" name="instance" value="{{ instance |e }}"/>
                            <button>delete</button>
                    </form>    
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
        <form method="POST" action="update-config-page">
            Add new dataset:
            <input type="hidden" name="stream" value="{{ stream |e }}"/>
            <input name="raw-disable"/>
            <input type="hidden" name="instance" value="{{ instance |e }}"/>
            <input type="submit" name="add" value="add"/>
        </form>
        {% for ((streamname,datasetname),dataset) in config.datasets.items() | sort %}
        {% if streamname == stream %}
        <h3>{{ datasetname |e }}</h3>
        <h4>Summary</h4>
        <div class="plotly-dataset" data-stream="{{ streamname |e }}" data-dataset="{{ datasetname |e }}"></div>
        {% if dataset.enabled %}
        <h4>Raw Data</h4>
        <div class="plotly-rawdata" data-stream="{{ streamname |e }}" data-dataset="{{ datasetname |e }}"></div>
        {% endif %}
        {% endif %}
        {% endfor %}        
        {% endif %}
        {% endfor %}
    </body>
</html>
