<html>
    <head>
        <style>
            #tr {
                border: 1px solid black;
                float: right;
            }
            .plotly {
                width: 100%;
                height: 200px;
            }
        </style>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script>
            var interval = undefined;
            var timer = undefined;
            function ar_cookie() {
                var cookies = document.cookie.split(';');
                for(var i=0;i<cookies.length;i++) {
                    let kv = cookies[i].split('=');
                    if(kv[0].trim() == "autorefresh") {
                        var interval = parseInt(kv[1],10);
                        if(timer) { window.clearTimeout(timer); }
                        if(!interval || interval<3) { interval=0; }
                        if(interval>0) {
                            timer = window.setTimeout(function() {
                                window.location.href = window.location.href;
                            },interval*1000);
                        }
                        document.getElementById("autorefresh").value = interval;
                    }
                }
            }

            function ar_set_cookie() {
                document.cookie = "autorefresh="+parseInt(document.getElementById("autorefresh").value,10);
                ar_cookie();
                return false;
            }

            function zpad(i) { if (i < 10) { i = "0" + i; } return i; } 

            function plotly_time(d) {
                return (
                    zpad(d.getFullYear())+"-"+zpad(d.getMonth())+"-"+zpad(d.getDay())+" "+
                    zpad(d.getHours())+":"+zpad(d.getMinutes())+":"+zpad(d.getSeconds())
                );
            }

            var TRUNC = 1000*60*60;

            function reformat(data) {
                var now = +Date.now();
                var lines = data.split("\n");
                var headings = lines.shift().split("\t");
                var out = {};
                var time_col = 0;
                for(var i=0;i<headings.length;i++) {
                    out[headings[i]] = {
                        'x': [], 'y': [], 'type': 'scatter', name: headings[i],
                        'mode': 'lines+markers',
                    };
                    if(headings[i] == 'time') { time_col = i; }
                }
                for(var i=0;i<lines.length;i++) {
                    var line = lines[i].split("\t");
                    if(now - line[time_col]*1000 > TRUNC) { continue; }
                    for(var j=0;j<headings.length;j++) {
                        out[headings[j]].y.push(line[j]);
                    }
                }
                if(out.time) {
                    var times = out["time"].y;
                    for(var i=0;i<times.length;i++) {
                        let d = new Date(times[i]*1000);
                        times[i] = plotly_time(d);
                    }
                    for(var i=0;i<headings.length;i++) {
                        out[headings[i]].x = times;
                    }
                    delete out.time;
                    delete out.instance;
                }
                return Object.values(out);
            }

            function reformat_raw(data) {
                var now = +Date.now();
                let x = [];
                let y = [];
                var data = data.split("\n");
                for(var i=0;i<data.length;i++) {
                    var line = data[i].split("\t");
                    if(now - line[0]*1000 > TRUNC) { continue; }
                    x.push(plotly_time(new Date(line[0]*1000)));
                    y.push(line[2]);
                }
                return [{
                    'x': x,
                    'y': y,
                    'type': 'scatter',
                    'mode': 'lines+markers',
                    'name': 'raw data'
                }]
            }

            var layout = {
                        autosize: false,
                        width: 1000,
                        height: 200,
                        margin: {
                            l: 100,
                            r: 100,
                            b: 30,
                            t: 20,
                            pad: 4
                        },
                        xaxis: {
                            tickformat: '%H:%M:%S'
                        },
                        yaxis: {
                            rangemode: 'tozero'
                        },
                        marker: { size: 12 }
            };

            $(function() {
                $('.plotly-dataset').each(function() {
                    var domel = this;
                    var stream = $(this).data('stream');
                    var dataset = $(this).data('dataset');
                    var url = "dataset?"+$.param({
                        'stream': $(this).data('stream'),
                        'dataset': $(this).data('dataset'),
                        'instance': $("#instance").attr('value')
                    });
                    $.get(url,function(data) {
                        var data = reformat(data);
                        Plotly.newPlot(domel,data,layout);
                    },"text");
                });
                $('.plotly-rawdata').each(function() {
                    var domel = this;
                    var stream = $(this).data('stream');
                    var dataset = $(this).data('dataset');
                    var url = "rawdata?"+$.param({
                        'stream': $(this).data('stream'),
                        'dataset': $(this).data('dataset'),
                        'instance': $("#instance").attr('value')
                    });
                    $.get(url,function(data) {
                        var data = reformat_raw(data);
                        Plotly.newPlot(domel,data,layout);
                    },"text");
                });
                $('.dataset-row').each(function() {
                    var domel = this;
                    var stream = $(this).data('stream');
                    var dataset = $(this).data('dataset');
                    var url = "dataset?"+$.param({
                        'stream': $(this).data('stream'),
                        'dataset': $(this).data('dataset'),
                        'instance': $("#instance").attr('value')
                    });
                    $.get(url,function(data) {
                        var last = "";
                        var data = data.split("\n");
                        var headings = data.shift().split("\t");
                        while(data.length && last == "") {
                            last = data.pop().trim();
                        }
                        if(last) {
                            last = last.split("\t");
                            var out = {};
                            for(var i=0;i<last.length;i++) {
                                out[headings[i]] = last[i];
                            }
                            $('.dataset-number',domel).each(function() {
                                var value = out[$(this).data('column')];
                                if(value) {
                                    $(this).text(value);
                                }
                            });
                        }
                    },"text");
                });
            });
        </script>
    </head>
    <body onload="ar_cookie()">
        <div id="tr">
            <form method="POST" onsubmit="ar_set_cookie(); return false">
                autorefresh <input id="autorefresh"/>s (0=never)
                <input type="submit" name="update" value="update"/><br/>
            </form>
            <form method="GET" action=".">
                instance <input id="instance" name="instance" value="{{ instance |e }}"/> (blank=all)
                <input type="submit" name="" value="update"/><br/>
            </form>
        </div>
        <h1>Blackbox</h1>
        <h2>Streams</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Filename</th>
                <th>Log lines</th>
                <th>Actions</th>
            </tr>
            {% for (stream,smodel) in config.streams.items() | sort %}
            <tr>
                <td>{{ stream }}</td>
                <td>{{ "enabled" if smodel.active else "disabled" }}</td>
                <td>{{ smodel.filename }}</td>
                <td>{{ smodel.lines }}</td>
                <td>
                    {% if smodel.active %}
                    <form method="POST" action="update-config-page">
                        <input type="hidden" name="disable" value="{{ stream |e }}"/>
                        <input type="hidden" name="instance" value="{{ instance |e }}"/>
                        <button>disable</button>
                    </form>
                    {% else %}
                    <form method="POST" action="update-config-page">
                        <input type="hidden" name="enable" value="{{ stream |e }}"/>
                        <input type="hidden" name="instance" value="{{ instance |e }}"/>
                        <button>enable</button>
                    </form>  
                    {% endif %}
                    <form method="POST" action="truncate">
                        <input type="hidden" name="stream" value="{{ stream |e }}"/>
                        <input type="hidden" name="instance" value="{{ instance |e }}"/>
                        <button>truncate</button>
                    </form>  
                </td>
            <tr>
            {% endfor %}
        </table>
        <form method="POST" action="update-config-page">
            Add new section:
            <input name="enable"/>
            <input type="hidden" name="instance" value="{{ instance |e }}"/>
            <input type="submit" name="add" value="add"/>
        </form>
        {% for (stream,smodel) in config.streams.items() | sort %}
        {% if smodel.active %}
        <h2>{{ stream }}</h2>
        <iframe src="{{ smodel.tail }}"></iframe>
        <form method="POST" action="mark">
            Add mark:
            <input type="hidden" name="stream" value="{{ stream |e }}"/>
            <input type="hidden" name="instance" value="{{ instance |e }}"/>
            <input name="mark"/>
            <button>mark</button>

        </form>
        <table>
            <tr>
                <th>Data Set</th>
                <th>Status</th>
                <th>Filename</th>
                <th>Count</th>
                <th>Total</th>
                <th>Mean</th>
                <th>95%ile</th>
                <th>Top</th>
                <th>Raw Data</th>
            </tr>
            {% for ((streamname,datasetname),dataset) in config.datasets.items() | sort %}
            {% if streamname == stream %}
            <tr class="dataset-row" data-stream="{{streamname |e}}" data-dataset="{{datasetname |e}}">
                <td>{{ datasetname }}</td>
                <td>
                    {% if dataset.enabled %}
                    Full Raw Data
                    {% else %}
                    Summary Only
                    {% endif %}    
                </td>
                <td>
                    {{ dataset.filename }}
                </td>
                <td class="dataset-number" data-column="count">-</td>
                <td class="dataset-number" data-column="total">-</td>
                <td class="dataset-number" data-column="mean">-</td>
                <td class="dataset-number" data-column="95%ile">-</td>
                <td class="dataset-number" data-column="top">-</td>
                <td>
                    <a href="{{ dataset.summary_url |e }}" target="_blank">open summaries</a>
                    {% if dataset.enabled %}
                    <form method="POST" action="update-config-page">
                        <input type="hidden" name="stream" value="{{ streamname |e }}"/>
                        <input type="hidden" name="raw-disable" value="{{ datasetname |e }}"/>
                        <input type="hidden" name="instance" value="{{ instance |e }}"/>
                        <button>raw data off</button>
                    </form>
                    <a href="{{ dataset.rawdata_url |e }}" target="_blank">raw data</a>
                    {% else %}
                    <form method="POST" action="update-config-page">
                        <input type="hidden" name="stream" value="{{ streamname |e }}"/>
                        <input type="hidden" name="raw-enable" value="{{ datasetname |e }}"/>
                        <input type="hidden" name="instance" value="{{ instance |e }}"/>
                        <button>raw data on</button>
                    </form>  
                    {% endif %}
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
        <form method="POST" action="update-config-page">
            Add new dataset:
            <input type="hidden" name="stream" value="{{ stream |e }}"/>
            <input name="raw-disable"/>
            <input type="hidden" name="instance" value="{{ instance |e }}"/>
            <input type="submit" name="add" value="add"/>
        </form>
        {% for ((streamname,datasetname),dataset) in config.datasets.items() | sort %}
        {% if streamname == stream %}
        <h3>{{ datasetname |e }}</h3>
        <h4>Summary</h4>
        <div class="plotly-dataset" data-stream="{{ streamname |e }}" data-dataset="{{ datasetname |e }}"></div>
        {% if dataset.enabled %}
        <h4>Raw Data</h4>
        <div class="plotly-rawdata" data-stream="{{ streamname |e }}" data-dataset="{{ datasetname |e }}"></div>
        {% endif %}
        {% endif %}
        {% endfor %}        
        {% endif %}
        {% endfor %}
    </body>
</html>