<html>
    <head>
        <style>
            #tr {
                border: 1px solid black;
                float: right;
            }
            .plotly {
                width: 100%;
                height: 200px;
            }
        </style>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script>
            var interval = undefined;
            var timer = undefined;
            function ar_cookie() {
                var cookies = document.cookie.split(';');
                for(var i=0;i<cookies.length;i++) {
                    let kv = cookies[i].split('=');
                    if(kv[0].trim() == "autorefresh") {
                        var interval = parseInt(kv[1],10);
                        if(timer) { window.clearTimeout(timer); }
                        if(!interval || interval<3) { interval=0; }
                        if(interval>0) {
                            timer = window.setTimeout(function() {
                                window.location.href = window.location.href;
                            },interval*1000);
                        }
                        document.getElementById("autorefresh").value = interval;
                    }
                }
            }

            function ar_set_cookie() {
                document.cookie = "autorefresh="+parseInt(document.getElementById("autorefresh").value,10);
                ar_cookie();
                return false;
            }

            function reformat(data) {
                var lines = data.split("\n");
                var headings = lines.shift().split("\t");
                var out = {};
                for(var i=0;i<headings.length;i++) {
                    out[headings[i]] = {
                        'x': [], 'y': [], 'type': 'scatter', name: headings[i]
                    }
                }
                for(var i=0;i<lines.length;i++) {
                    var line = lines[i].split("\t");
                    for(var j=0;j<headings.length;j++) {
                        out[headings[j]].y.push(line[j]);
                        out[headings[j]].x.push(i);
                    }
                }
                return Object.values(out);
            }

            function reformat_raw(data) {
                let x = [];
                for(var i=0;i<data.length;i++) { x.push(i); }
                return [{
                    'x': x,
                    'y': data.split("\n"),
                    'type': 'scatter',
                    'name': 'raw data'
                }]
            }

            var layout = {
                        autosize: false,
                        width: 1000,
                        height: 200,
                        margin: {
                            l: 100,
                            r: 100,
                            b: 30,
                            t: 20,
                            pad: 4
                        },
                    };

            $(function() {
                $('.plotly-dataset').each(function() {
                    var domel = this;
                    var stream = $(this).data('stream');
                    var dataset = $(this).data('dataset');
                    var url = "blackbox/dataset?"+$.param({
                        'stream': $(this).data('stream'),
                        'dataset': $(this).data('dataset')
                    });
                    $.get(url,function(data) {
                        var data = reformat(data);
                        Plotly.newPlot(domel,data,layout);
                    },"text");
                });
                $('.plotly-rawdata').each(function() {
                    var domel = this;
                    var stream = $(this).data('stream');
                    var dataset = $(this).data('dataset');
                    var url = "blackbox/rawdata?"+$.param({
                        'stream': $(this).data('stream'),
                        'dataset': $(this).data('dataset')
                    });
                    $.get(url,function(data) {
                        var data = reformat_raw(data);
                        Plotly.newPlot(domel,data,layout);
                    },"text");
                });
            });
        </script>
    </head>
    <body onload="ar_cookie()">
        <div id="tr">
            <form method="POST" onsubmit="ar_set_cookie(); return false">
                autorefresh <input id="autorefresh"/>s (0=never)
                <input type="submit" name="update" value="update"/>
            </form>
        </div>
        <h1>Blackbox</h1>
        <h2>Streams</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Filename</th>
                <th>Actions</th>
            </tr>
            {% for (stream,smodel) in config.streams.items() | sort %}
            <tr>
                <td>{{ stream }}</td>
                <td>{{ "enabled" if smodel.active else "disabled" }}</td>
                <td>{{ smodel.filename }}</td>
                <td>
                    {% if smodel.active %}
                    <form method="POST" action="blackbox/update-config-page">
                        <input type="hidden" name="disable" value="{{ stream |e }}"/>
                        <button>disable</button>
                    </form>
                    {% else %}
                    <form method="POST" action="blackbox/update-config-page">
                        <input type="hidden" name="enable" value="{{ stream |e }}"/>
                        <button>enable</button>
                    </form>  
                    {% endif %}
                </td>
            <tr>
            {% endfor %}
        </table>
        <form method="POST" action="blackbox/update-config-page">
            Add new section:
            <input name="enable"/>
            <input type="submit" name="add" value="add"/>
        </form>
        {% for (stream,smodel) in config.streams.items() | sort %}
        {% if smodel.active %}
        <h2>{{ stream }}</h2>
        <iframe src="{{ smodel.tail }}"></iframe>
        <form method="POST" action="blackbox/mark">
            Add mark:
            <input type="hidden" name="stream" value="{{ stream |e }}"/>
            <input name="mark"/>
            <button>mark</button>

        </form>
        <table>
            <tr>
                <th>Data Set</th>
                <th>Status</th>
                <th>Filename</th>
                <th>Count</th>
                <th>Total</th>
                <th>Mean</th>
                <th>95%ile</th>
                <th>Top</th>
                <th>Raw Data</th>
            </tr>
            {% for ((streamname,rawname),raw) in config.raws.items() | sort %}
            {% if streamname == stream %}
            <tr>
                <td>{{ rawname }}</td>
                <td>
                    {% if raw.enabled %}
                    Full Raw Data
                    {% else %}
                    Summary Only
                    {% endif %}    
                </td>
                <td>
                    {{ raw.filename }}
                </td>
                {% if (streamname,rawname) in data.datasets %}
                <td>{{ data.datasets[(streamname,rawname)]["count"] }}</td>
                <td>{{ data.datasets[(streamname,rawname)]["total"] }}</td>
                <td>{{ data.datasets[(streamname,rawname)]["mean"] }}</td>
                <td>{{ data.datasets[(streamname,rawname)]["high"] }}</td>
                <td>{{ data.datasets[(streamname,rawname)]["top"] }}</td>
                {% else %}
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                {% endif %}
                <td>
                    <a href="{{ raw.summary_url |e }}" target="_blank">open summaries</a>
                    {% if raw.enabled %}
                    <form method="POST" action="blackbox/update-config-page">
                        <input type="hidden" name="raw-stream" value="{{ streamname |e }}"/>
                        <input type="hidden" name="raw-disable" value="{{ rawname |e }}"/>
                        <button>raw data off</button>
                    </form>
                    <a href="{{ raw.rawdata_url |e }}" target="_blank">raw data</a>
                    {% else %}
                    <form method="POST" action="blackbox/update-config-page">
                        <input type="hidden" name="raw-stream" value="{{ streamname |e }}"/>
                        <input type="hidden" name="raw-enable" value="{{ rawname |e }}"/>
                        <button>raw data on</button>
                    </form>  
                    {% endif %}
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
        <form method="POST" action="blackbox/update-config-page">
            Add new dataset:
            <input type="hidden" name="raw-stream" value="{{ stream |e }}"/>
            <input name="raw-disable"/>
            <input type="submit" name="add" value="add"/>
        </form>
        {% for ((streamname,rawname),raw) in config.raws.items() | sort %}
        {% if streamname == stream %}
        <h3>{{ rawname |e }}</h3>
        <h4>Summary</h4>
        <div class="plotly-dataset" data-stream="{{ streamname |e }}" data-dataset="{{ rawname |e }}"></div>
        {% if raw.enabled %}
        <h4>Raw Data</h4>
        <div class="plotly-rawdata" data-stream="{{ streamname |e }}" data-dataset="{{ rawname |e }}"></div>
        {% endif %}
        {% endif %}
        {% endfor %}        
        {% endif %}
        {% endfor %}
    </body>
</html>